@model DetailsVM[]

<h3>Detaljer</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <img src="/uploads/@item.AdsPic" /> <br/>
            @item.ProductName <br/>
            @item.Category <br/>
            @item.City.Title <br/>
            @item.Price kr <br/>
            @item.Description <br/>
            
        </li>
    
    }
</ul>