@model ListOfAdsVM[]
@{
    ViewData["Title"] = "KidsN'Toys annonslista";

}

<h3>Lista av annonser</h3>

<ul>
    @foreach (var item in Model)
    {
            
        <li><a aspcontroller="Products" asp-action="Details" asp-route-id = "@item.Id">@item.ProductName</a> <br/> @item.Price kr <br/> @item.Condition.Title <br/> @item.City.Title <br/> <img src="/uploads/@item.AdsPic" /></li>
    }
</ul>