@model ListOfAdsVM[]
@{
    ViewData["Title"] = "KidsN'Toys annonslista";

}

<head>
    <link href="~/Css/StyleSheet.css" rel="stylesheet" type="text/css">
</head>



<h3><b>Alla annonser</b></h3>
<ul class="AdList">
   
    @foreach (var item in Model)
    {
       
        
        <li>
            <p><img src="/uploads/@item.AdsPic" class="ImageList" /></p>
            <div style="text-align: center">

            <a aspcontroller="Products" asp-action="Details" asp-route-id="@item.Id"><b style="font-size: 30px">@item.ProductName</b></a>
            <br /> @item.Price kr
            <br /> @item.Condition.Title
            <br /> @item.City.Title
            <br />
            </div>
        
        </li>
        @*<li>*@
        @*</li>*@
      


    }
</ul>
