@model SearchVM

@{
    ViewData["Title"] = "Sökning";

}

<head>
    <link href="~/Css/StyleSheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="searchbar">
    <form asp-controller="Products" asp-action="Search" method="get">
    @*<label asp-for="SearchWord"></label>*@
    <input placeholder="&#128270; Sök" asp-for="SearchWord" />
    <input type="submit" value="Search"/>
    </form>

</div>
<div>
    <ul  >
    @if (Model != null)
    {
        foreach (var item in Model.Products)
        {           
            <li>
            <p><img src="/uploads/@item.AdsString" class="ImageList" /></p>
            <br/>
            <br/>
            <br/>
            <br/>
            <a aspcontroller="Products" asp-action="Details" asp-route-id = "@item.Id"><b style= "font-size: 30px">@item.ProductName</b></a> 
            <br/> @item.Price kr, @item.Condition
            <br/> @item.City
            <br/>
            <hr/>
        </li>
        }
        if (Model.Products.Length == 0)
        {
             <h3>Din sökning angav inga träffar.</h3>
        }
    }
    
</ul>
</div>
