@model SearchVM
<form asp-controller="Products" asp-action="Search">
<label asp-for="SearchWord">Sök</label>
<input asp-for="SearchWord" />
<input type="submit" value="Search" />
</form>
<ul>
    @if (Model != null)
    {
        foreach (var item in Model.Products)
        {
            <li> <a aspcontroller="Products" asp-action="Details" asp-route-id ="@item.Id">@item.ProductName</a> <img src="/uploads/@item.AdsString" /></li>
            //- @item.Category - @item.City - @item.Price - @item.Condition
        }
        if (Model.Products.Length == 0)
        {
             <h3>Din sökning angav inga träffar.</h3>
        }
    }
    
</ul>